.App {
<<<<<<< HEAD
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: "row";
  margin-top: 20px;
}

.UploadFileStyle {
  justify-content: center;
  display: flex;
}
=======
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: "row";
    margin-top: 20px;
  }
  
  .UploadFileStyle {
    justify-content: center;
    display: flex;
  }
  
>>>>>>> 89c29a74666e5cc75f7b019321781a98059439fb
